*::selection {
    background: transparent;
}

html, body, .wrapper{
    height: 100%;
    width: 100%;
}

body{
    background: url(../images/body-bg.png) no-repeat center fixed;
    background-size: cover;
    font-family: 'robotolight', 'Arial', 'Helvetica', 'sans-serif';
}

img{
    display: block;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

input, button{
    border: none;
    outline: none;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.wrapper{
    display: table;
}

.inner_wrapper{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding: 60px 0 25px 0;
}

.container{
    width: 960px;
    margin: 0 auto;
}

.container-content{
/*margin: 60px 0 24px;*/
    display: table;
    overflow: hidden;
}

.content{
    padding: 9px 24px 24px;
    background-color: rgba(46, 54, 65, 0.64);
    width: 701px;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: top;
}

.title-content{
    color: #ffffff;
    margin: 0 0 55px 0;
    font-size: 36px;
    font: 36px 'SegoeUILight';
}

.container-img{
    width: 651px;
    height: 534px;
    background: url(../images/img-bg.png) repeat;
    overflow: hidden;
    position: relative;
}

.watermark-wrap{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 2;
}
.watermark-img{
    display: block;
    float:left;
    /*position: absolute;*/
    /*cursor: pointer;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 2;*/
}

.item-img{
    /*скрыл, так как размеры выщитывает js/ Никита*/
    /*width: 100%;*/
    /*height: auto; */
    /*margin: 0 auto;*/
}

.sidebar{
    display: table-cell;
    width: 259px;
    background: #f1f1f5;
    box-sizing: border-box;
    border-left: 1px solid #9a9897;
    vertical-align: top;
}

.title-sidebar{
    text-align: center;
    color: #2e3641;
    margin: 21px 0 29px;
    font:  26px 'robotolight';
}

.container-form{
    padding: 0 19px 7px 19px;
    border-bottom: 1px solid #f4c3c2;
    position: relative;
}

.container-form:after, .container-form:before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    left: 50%;
    margin-left: -8px;
}

.container-form:after{
    bottom: -10px;
    border-top: 10px solid #f4c3c2;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

}

.container-form:before{
    bottom: -9px;
    border-top: 10px solid #f1f1f5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 1;
}

.label-sidebar-form{
    color: #2e3641;
    margin: 0 0 6px 0;
    display: block;
    font: 14px 'robotolight';
}

.fileform{
    position: relative;
    cursor: pointer;
    color: #9eb2c0;
    margin-bottom: 55px;
}

.selectbutton {
    float: right;
    overflow: hidden;
    height: 14px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    width: 26px;
    background: #f97e76 url(../images/sidebar-sprt.png) no-repeat 8px 4px;
    border-radius: 0 3px 3px 0;
}

.upload {
    cursor: pointer;
    position:absolute;
    top:0;
    right:0;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index:20;
    padding: 0;
    font-size: 20px;
}

.fileform .fileformlabel {
    background-color: #FFFFFF;
    float: left;
    overflow: hidden;
    height: 16px;
    padding: 4px;
    text-align: left;
    vertical-align: middle;
    width: 173px;
    border-top: 1px solid #9eb2c0;
    border-bottom: 1px solid #9eb2c0;
    border-left: 1px solid #9eb2c0;
    border-radius: 3px 0 0 3px;
    background: #f1f1f5;
    font: 12px 'SegoeUILight';
}

.label-margin{
    margin: 15px 0 31px;
}

.container-view-radio{
    float: right;
}

.wrapp-view{
    display: inline-block;
    margin-left: 5px;
}

.view{
    display: none;
}

.view+.view-block{
    width: 19px;
    height: 19px;
    cursor: pointer;
    overflow: hidden;
    display: block;
}

.normal-view{
    background: url(../images/view-sprt.png) no-repeat -35px -44px;
}

.view-grid{
    background: url(../images/view-sprt.png) no-repeat 0 -44px;
}

.view:checked+.normal-view{
    background: url(../images/view-sprt.png) no-repeat -35px 0;
}


.view:checked+.view-grid{
    background: url(../images/view-sprt.png) no-repeat 0 0;
}


.container-settings{
    overflow: hidden;
    margin-bottom: 17px;
}

.container-color-block{
    letter-spacing: -0.3em;
    width: 99px;
    border: 1px solid #9eb2c0;
    float: left;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.color-block{
    width: 33px;
    height: 33px;
    margin: -1px 0 0 -1px;
    display: inline-block;
    letter-spacing: normal;
    background-color: rgba(193, 207, 217, 0.46);
    border-left: 1px solid #9eb2c0;
    border-top: 1px solid #9eb2c0;
    vertical-align: top;
    cursor: pointer;
    transform: translateZ(0);
}

.active-color{
    background: #f97e76;
}

.orientacion-field{
    position: absolute;
    z-index: 2;
    background: #f97e76;
    display: none;
}

.active-color-horizontal-field{
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    transform: translate(0,-50%);
}

.active-color-vertical-field{
    top: 0;
    left: 50%;
    width: 10px;
    height: 100%;
    transform: translate(-50%,0);
}

.wrapp-coordinates{
    float: right;
    width: 105px;
}

.container-coordinates{
    margin: 0 0 12px 0;
    letter-spacing: -0.3em;
}

.coordinates, .coordinates-value,
.switch-container{
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
}

.coordinates{
    width: 12px;
    font: 16px 'robotolight';
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

.coordinates-value{
    width: 46px;
    height: 45px;
    box-sizing: border-box;
    padding: 10px 5px;
    text-align: center;
    color: #444a53;
    background: #f1f1f5;
    border: 1px solid #9eb2c0;
    border-radius: 3px;
}
.switch-container{
    margin-left: 6px;
}

.switch{
    width: 15px;
    height: 10px;
    cursor: pointer;
    background: url(../images/sidebar-sprt.png) no-repeat 0 -67px;
}

.switch:hover{
    background: url(../images/sidebar-sprt.png) no-repeat 0 -37px;
}

.up{
    margin-bottom: 23px;
}

.down{
    transform: rotate(180deg);
}

/*_______________________slider UI_______________________*/

.slider{
    margin-bottom: 30px;
}

.ui-slider{
    height: 3px;
    background: #dbe1e8;
}

.ui-slider-range{
    background: #9eb2c0;
}

.ui-slider-handle.ui-state-default.ui-corner-all{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #dbe1e8;
    box-shadow: 0px 1px 1px 0.00px rgba(0, 0, 0, 0.38);
    top: -11px;
    cursor: pointer;
}

.ui-slider-handle.ui-state-default.ui-corner-all:focus{
    outline: none;
}

.ui-slider-handle:before{
    content: '';
    width: 8px;
    height: 8px;
    background: #9eb2c0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:  -4px 0 0 -4px;
    border-radius: 50px;
}

.ui-slider-handle:hover:before{
    background: #f97e76;
}

/*___________________________end UI___________________________*/

.container-button{
    letter-spacing: -0.3em;
    margin: 45px 10px 0 10px;
    position: relative;
}

.button-sidebar{
    padding: 10px 0;
    width: 99px;
    text-align: center;
    display: inline-block;
    letter-spacing: normal;
    color: #fff;
    margin: 0 0 0 40px;
    border-radius: 3px;
    font: 18px 'robotomedium';
    border: 1px solid transparent;
}

.button-sidebar:first-child{
    margin-left: 0;
}

.reset{
    background: #c1cfd9;
}

.reset:hover{
    background: #9eb2c0;
}

.reset:active{
    border: 1px solid #df7069;
    color: #2e3641;
}

.download{
    background: #f97e76;
}

.download:hover{
    background: #df7069;
}

.download:active{
    color: #2e3641;
    border: 1px solid #9eb2c0;
}

/*_____________________________________________*/

.block-fixed{
    position: fixed;
    left: 0;
    top: 100px;
}

.container-languages{
    margin-bottom: 18px;
}

.fixed-button{
    padding: 4px;
    box-sizing: border-box;
    width: 43px;
    height: 35px;
    background-color: rgba(241, 241, 245, 0.7);
    cursor: pointer;
    display: block;
    font: 20px 'SegoeUILight';
    color: #8e9298;
}

.fixed-button:hover{
    color: #444a53;
    cursor: pointer;
}

.language_active {
    color: #444a53;
}

.container-languages .fixed-button{
    border-top: 1px solid #a5a7ac;
}

.container-languages .fixed-button:first-child{
    border-top: none;
}

.social-list{
    position: absolute;
    top: 88px;
    left:-43px;
    transition: transform 0.3s ease;
}

.social-list.active{
    transform: translate(43px);
}

.social-item-like{
    position: absolute;
    top: 0;
    left: 43px;
}

.social-link-fb{
    background-image: url(../images/social.png);
    background-position: 7px -57px;
    background-repeat: no-repeat;
}

.social-link-fb:hover{
    background-image: url(../images/social.png);
    background-position: -50px -57px;
    background-repeat: no-repeat;
}

.social-link-tw{
    background-image: url(../images/social.png);
    background-position: 7px -116px;
    background-repeat: no-repeat;
}

.social-link-tw:hover{
    background-image: url(../images/social.png);
    background-position: -45px -115px;
    background-repeat: no-repeat;
}

.social-link-vk{
    background-image: url(../images/social.png);
    background-position: 6px -169px;
    background-repeat: no-repeat;
}

.social-link-vk:hover{
    background-image: url(../images/social.png);
    background-position: -45px -169px;
    background-repeat: no-repeat;
}

.social-link-like{
    background-image: url(../images/social.png);
    background-position: 5px 0px;
    background-repeat: no-repeat;
}

.social-link-like:hover{
    background-image: url(../images/social.png);
    background-position: -50px 2px;
    background-repeat: no-repeat;
}

.footer{
    display: table-row;
    height: 45px;
}

.copy{
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
    font: 12px 'robotolight';
}
.img-wrap {
    position:relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    overflow:hidden;
}

.disabler__block {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background: #f1f1f5;
    opacity: 0.5;
    z-index: 9999;
}


.tooltipstext {
  position: absolute;
  display: none;
  top: 0px;
  width:auto;
  white-space: nowrap;
  color: #FFFFFF;
  font-size: 13px;
  background: #F97E76;
  height: 25px;
  line-height: 25px;
  padding: 0px 5px;
  text-align: center;
  border-radius: 3px;
  z-index: 9999;
}
.posleft {
  right: 100%;
  margin: 0px 5px 0px 0px;
}

.posleft:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  width: 0; height: 0;
  border-left: 5px solid #F97E76;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}